<!doctype html >
<html lang="en" >
  <head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Somos</title>
  </head>
  <body >
    <div id="page-wraper">
   
      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
          
            <h2>¿Quienes somos?</h2>
            <div class="line-dec"></div>
            <p>JOYITA es una boutique en línea con las tendencias y estilos más actuales de accesorios, 
                nuestras joyas aportan un toque único a tu look porque son tan especiales como tú lo eres 
                para nosotros.</p>
          </div>
          <div class="right-image-post">
            <div class="row">
 
              <div class="col-md-8">
                <div class="left-text">
                  <h4>¿Por que son especiales?</h4>
                  <p>Porque son piezas elegidas con mucha dedicación y profesionalismo acorde a las tendencias 
                      de moda mas actuales y exclusivas para poder complementar tu estilo y elevar tu estado 
                      de ánimo, nuestra misión ademas de hacerte brillar es hacerte sonreir queremos que 
                      mantengas un look fresco asi que siempre estamos actualizando nuestras colecciones para 
                      que nunca dejes de sorprenderte.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="right-image">
                  <img src="https://m.media-amazon.com/images/I/71daaKB5oIL._AC_SX425_.jpg" alt="Mountain Reflection" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
  </body>
</html>